
        .page-header {
            background-color: #1583C5;
            text-align: center;
            padding: 10px;

        }

        ul {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #c4c4c4;
            }

            li {
                float: left;
            }

            li a {
                display: inline-block;
                padding: 8px;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;

            }
