
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header {
            background-color: #1583C5;
            text-align: center;
            padding: 20px;

        }
      
        body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #ededed;
}

.page-footer {
    background-color: #000;
    padding: 40px;
    
}

.page-footer .social {
    text-align: center;
    padding-bottom: 25px;
        }

.page-footer .social a {
    font-size: 25px;
    color: #1583C5;
    width: 40px;
    height: 40px;
    line: height 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
   
    }
    
    .page-footer .social a:hover {
        opacity: 0.75;
}

.page-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    
}

.page-footer ul li {
display: inline-block;
padding: 0 15px;

}

.page-footer: ul li a {
    color: color: #1583C5;
    text-decoraion: none;
    opacity: 0.8;
}

.page-footer .copyright {
margin-top: 15px;
text-align: center;
color: white;

}
